@page "/"
@using Microsoft.EntityFrameworkCore.Metadata.Internal

<PageTitle>Home</PageTitle>


<!-- Hero Section -->
<div class="jumbotron text-center">
    <h1 class="display-4">Bem Vindo ao EventoHub!</h1>
    <p class="lead">Descobre e organiza eventos sem qualquer esforço.</p>
</div>

<div class="row text-center mt-5">
    <div class="col-md-4">
        <h3>Criar Eventos</h3>
        <p>Hospede e gerencie eventos com facilidade.</p>
    </div>
    <div class="col-md-4">
        <h3>Descobre encontros</h3>
        <p>Encontra eventos incriveis a acontecer á tua beira.</p>
    </div>
    <div class="col-md-4">
        <h3>Junta-te á comunidade</h3>
        <p>Faz conexões com organizadores e outros participantes.</p>
    </div>
</div>
