@page "/"
@using Microsoft.EntityFrameworkCore.Metadata.Internal

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.sdasdas

<h3>Home Page</h3>
<a href="/otherpage" class="btn btn-primary">Go to Other Page</a>